In [92]:
import numpy as np
import pandas as pd
import time
import datetime
import re
from dateutil import parser

In [3]:
data = pd.read_csv('historical.csv')

In [48]:
data['Texts'][1]

'The Uber backup driver was watching "The Voice" on her phone before the self-driving vehicle struck and killed a pedestrian in Arizona'

In [68]:
fb_data = data.loc[data['Texts'].str.contains('(F|f)acebook', na = False)]

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\envs\py27\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [71]:
fb_filtered = fb_data[['Dates','Sentiment']]

In [91]:
now = datetime.datetime.now()
month = datetime.timedelta(days = 30)
month_ago = now - month
print month_ago ,'\n'
print fb_data['Dates'].head()

2018-05-24 16:19:55.853000

8     Thu Jun 21 22:38:58 +0000 2018
26    Thu Jun 21 15:40:47 +0000 2018
30    Thu Jun 21 12:33:40 +0000 2018
62    Tue Jun 19 19:13:50 +0000 2018
66    Tue Jun 19 17:44:42 +0000 2018
Name: Dates, dtype: object

In [94]:
to_datetime_data = [parser.parse(date) for date in fb_data['Dates']]

In [96]:
fb_filtered['Datetime'] = to_datetime_data

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\envs\py27\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [97]:
fb_filtered.head(3)

                             Dates  Sentiment                  Datetime
8   Thu Jun 21 22:38:58 +0000 2018     0.0000 2018-06-21 22:38:58+00:00
26  Thu Jun 21 15:40:47 +0000 2018     0.5267 2018-06-21 15:40:47+00:00
30  Thu Jun 21 12:33:40 +0000 2018    -0.2732 2018-06-21 12:33:40+00:00

In [98]:
current = fb_filtered.loc[fb_filtered['Datetime'] < month_ago]

                                Dates  Sentiment                  Datetime
603    Thu May 24 14:47:28 +0000 2018     0.4767 2018-05-24 14:47:28+00:00
610    Thu May 24 10:17:19 +0000 2018     0.0000 2018-05-24 10:17:19+00:00
627    Thu May 24 02:30:12 +0000 2018     0.1027 2018-05-24 02:30:12+00:00
631    Thu May 24 01:19:01 +0000 2018     0.6705 2018-05-24 01:19:01+00:00
645    Wed May 23 20:34:05 +0000 2018     0.0000 2018-05-23 20:34:05+00:00
650    Wed May 23 18:47:36 +0000 2018     0.0000 2018-05-23 18:47:36+00:00
655    Wed May 23 17:13:04 +0000 2018    -0.7351 2018-05-23 17:13:04+00:00
660    Wed May 23 16:19:40 +0000 2018    -0.4767 2018-05-23 16:19:40+00:00
661    Wed May 23 15:15:14 +0000 2018     0.7783 2018-05-23 15:15:14+00:00
674    Wed May 23 10:16:20 +0000 2018     0.0000 2018-05-23 10:16:20+00:00
680    Wed May 23 06:00:20 +0000 2018    -0.5719 2018-05-23 06:00:20+00:00
682    Wed May 23 05:00:10 +0000 2018     0.0000 2018-05-23 05:00:10+00:00
698    Tue May 22 17:43:11 +0000 2018     0.0000 2018-05-22 17:43:11+00:00
700    Tue May 22 16:36:15 +0000 2018     0.0000 2018-05-22 16:36:15+00:00
702    Tue May 22 16:30:09 +0000 2018     0.0000 2018-05-22 16:30:09+00:00
703    Tue May 22 16:28:29 +0000 2018     0.0000 2018-05-22 16:28:29+00:00
710    Tue May 22 14:20:46 +0000 2018     0.0000 2018-05-22 14:20:46+00:00
721    Tue May 22 05:37:20 +0000 2018     0.1027 2018-05-22 05:37:20+00:00
789    Thu May 17 15:48:43 +0000 2018     0.7954 2018-05-17 15:48:43+00:00
791    Thu May 17 13:50:17 +0000 2018     0.4767 2018-05-17 13:50:17+00:00
811    Wed May 16 22:57:11 +0000 2018     0.4767 2018-05-16 22:57:11+00:00
816    Wed May 16 18:01:04 +0000 2018     0.0000 2018-05-16 18:01:04+00:00
818    Wed May 16 17:11:09 +0000 2018     0.2732 2018-05-16 17:11:09+00:00
846    Tue May 15 19:22:42 +0000 2018     0.4754 2018-05-15 19:22:42+00:00
857    Tue May 15 14:40:04 +0000 2018    -0.2500 2018-05-15 14:40:04+00:00
877    Mon May 14 21:22:36 +0000 2018    -0.7096 2018-05-14 21:22:36+00:00
909    Mon May 14 11:40:20 +0000 2018    -0.6369 2018-05-14 11:40:20+00:00
915    Mon May 14 06:00:04 +0000 2018    -0.3400 2018-05-14 06:00:04+00:00
937    Thu May 10 21:01:46 +0000 2018    -0.1779 2018-05-10 21:01:46+00:00
948    Thu May 10 15:34:19 +0000 2018    -0.1779 2018-05-10 15:34:19+00:00
...                               ...        ...                       ...
17645  Wed Jan 31 22:33:06 +0000 2018     0.2960 2018-01-31 22:33:06+00:00
17646  Wed Jan 31 22:32:45 +0000 2018     0.0772 2018-01-31 22:32:45+00:00
17647  Wed Jan 31 21:53:48 +0000 2018     0.0000 2018-01-31 21:53:48+00:00
17649  Wed Jan 31 21:42:13 +0000 2018     0.0000 2018-01-31 21:42:13+00:00
17653  Wed Jan 31 21:14:21 +0000 2018     0.0000 2018-01-31 21:14:21+00:00
17656  Wed Jan 31 21:06:42 +0000 2018     0.0000 2018-01-31 21:06:42+00:00
17661  Wed Jan 31 20:30:26 +0000 2018     0.0000 2018-01-31 20:30:26+00:00
17667  Wed Jan 31 16:37:59 +0000 2018    -0.2960 2018-01-31 16:37:59+00:00
17669  Wed Jan 31 15:09:07 +0000 2018     0.0258 2018-01-31 15:09:07+00:00
17688  Wed Jan 31 01:46:10 +0000 2018     0.2023 2018-01-31 01:46:10+00:00
17703  Tue Jan 30 19:09:42 +0000 2018     0.3612 2018-01-30 19:09:42+00:00
17743  Mon Jan 29 20:33:57 +0000 2018     0.3818 2018-01-29 20:33:57+00:00
17787  Sun Jan 28 02:30:19 +0000 2018     0.0000 2018-01-28 02:30:19+00:00
17794  Sat Jan 27 19:01:15 +0000 2018     0.0000 2018-01-27 19:01:15+00:00
17805  Fri Jan 26 23:42:26 +0000 2018     0.3612 2018-01-26 23:42:26+00:00
17810  Fri Jan 26 21:09:37 +0000 2018     0.0000 2018-01-26 21:09:37+00:00
17833  Fri Jan 26 01:53:18 +0000 2018    -0.4767 2018-01-26 01:53:18+00:00
17834  Fri Jan 26 00:36:35 +0000 2018     0.2500 2018-01-26 00:36:35+00:00
17839  Thu Jan 25 21:43:25 +0000 2018     0.2263 2018-01-25 21:43:25+00:00
17845  Thu Jan 25 21:04:47 +0000 2018     0.0000 2018-01-25 21:04:47+00:00
17879  Wed Jan 24 19:22:09 +0000 2018     0.0000 2018-01-24 19:22:09+00:00
17924  Tue Jan 23 23:13:24 +0000 2018     0.1779 2018-01-23 23:13:24+00:00
17926  Tue Jan 23 21:35:55 +0000 2018     0.0000 2018-01-23 21:35:55+00:00
17932  Tue Jan 23 19:47:05 +0000 2018     0.0000 2018-01-23 19:47:05+00:00
17936  Tue Jan 23 18:15:57 +0000 2018     0.3612 2018-01-23 18:15:57+00:00
17957  Tue Jan 23 14:00:56 +0000 2018     0.7650 2018-01-23 14:00:56+00:00
17959  Tue Jan 23 13:31:28 +0000 2018     0.1027 2018-01-23 13:31:28+00:00
17967  Tue Jan 23 11:59:23 +0000 2018     0.0000 2018-01-23 11:59:23+00:00
17989  Mon Jan 22 19:26:33 +0000 2018     0.2960 2018-01-22 19:26:33+00:00
17992  Mon Jan 22 18:38:44 +0000 2018     0.0000 2018-01-22 18:38:44+00:00

[754 rows x 3 columns]